@model FlightManagement.ASPnet.Models.AirportViewModel
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/userStyle.css" />
    <style>
        .sort-arrow {
            font-size: 0.8em;
            margin-left: 5px;
        }
    </style>
</head>
<body>
    <h1>Аэропорты</h1>

    <form method="get" class="formsort" action="@Url.Action("Index")">
        <input type="text" name="searchTerm" value="@Model.SearchTerm" placeholder="Поиск по названию или местоположению" />
        <button type="submit">Поиск</button>
    </form>

    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-outline-primary me-2">Добавить новый аэропорт</a>
    }

    <table>
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="airportID" asp-route-searchTerm="@Model.SearchTerm">Аэропорт ID ↑</a>
                    <a asp-action="Index" asp-route-sortOrder="airportID_desc" asp-route-searchTerm="@Model.SearchTerm">↓</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="name" asp-route-searchTerm="@Model.SearchTerm">Название ↑</a>
                    <a asp-action="Index" asp-route-sortOrder="name_desc" asp-route-searchTerm="@Model.SearchTerm">↓</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="location" asp-route-searchTerm="@Model.SearchTerm">Локация ↑</a>
                    <a asp-action="Index" asp-route-sortOrder="location_desc" asp-route-searchTerm="@Model.SearchTerm">↓</a>
                </th>
                @if (User.IsInRole("Admin"))
                {
                    <th>Действия</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var airport in Model.Airports)
            {
                <tr>
                    <td>@airport.AirportID</td>
                    <td>@airport.Name</td>
                    <td>@airport.Location</td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@airport.AirportID">Редактировать</a>
                            <a asp-action="ConfirmDelete" asp-route-id="@airport.AirportID" class="btnDel">Удалить</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div class="pagination">
        @if (ViewData["TotalPages"] != null && ViewData["CurrentPage"] != null)
        {
            int totalPages = (int)ViewData["TotalPages"];
            int currentPage = (int)ViewData["CurrentPage"];

            for (int i = 1; i <= totalPages; i++)
            {
                <a href="?page=@i&searchTerm=@Model.SearchTerm&sortOrder=@Model.SortOrder">
                    @(i == currentPage ? $"{i}" : i.ToString())
                </a>
                @if (i < totalPages)
                {
                    @: |
                }
            }
        }
    </div>
</body>
</html>